main {
    display: grid;
    place-content: center;
    grid-column: auto;
    padding: 0%;
    margin: 0%;
    gap: 1rem;
    color: aliceblue;
    margin-top: 12%;
}

.login-container input{
    margin: 0%;
}

.login-container{
    display: grid;
    grid-column: auto;
    
}

.login-container label {
    color: aliceblue;
    text-align: center;
}

.form-login button {
    width: 100%;
    margin: 0%;
    margin-top: 1rem;
}

.form-login {
    display: grid;
    grid-column: auto;
    justify-content: center;
}

.form-login p{
    color: red;
    font-size: medium;    
}
.new-user{
    margin: 0%;
}
